/* import */
/* Ensemble de la page */
* {
  font-family: "Roboto", sans-serif; }

body {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  text-align: center; }

h3 {
  font-family: "Monserat", sans-serif;
  margin-top: 10px;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 1em; }

h4, h5 {
  font-family: "Monserat", sans-serif; }

h4 {
  margin-top: 10px; }

h5 {
  margin-top: 5px; }

.span_word {
  color: #ff931e; }

section {
  padding: 5em;
}

a {
  text-align: center;
  text-decoration: none; }

i {
  color: #ff931e; }

ul {
  padding: 0; }

hr {
  margin: 0; }

/*Menu header */
header {
  position: fixed;
  z-index: 200;
  width: 100%;
  display: flex;
  text-align: right;
  padding-right: 2em;
  font-size: 1.2em;
  align-items: center;
  max-height: 60px;
  background-color: white;
  box-shadow: 2px 8px 8px 1px rgba(0, 0, 0, 0.2); }
  header .nom {
    display: flex;
    align-items: center; }
  header li {
    list-style-type: none;
    display: inline;
    line-height: 3px; }
  header ul {
    margin: 0; }
  header i {
    cursor: pointer; }
  header a {
    color: #ff931e;
    padding: 28px 15px;
    font-size: 13px;
    background-color: transparent !important;
    margin: 0 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: 0.2s ease; }
    header a:hover {
      color: black; }

.nom {
  text-align: left;
  flex: 1;
  padding-left: 2em; }
  .nom img {
    max-height: 55px; }

/*---------------------------------------------- */
/*                    Menu humburger              */
/*------------------------------------------------ */
.menu_responsive {
  z-index: 2;
  position: absolute;
  width: 100%;
  position: fixed;
  line-height: 40px;
  color: white;
  background-color: #222330;
  border-bottom: 12px solid #ff931e;
  transition: transform 0.6s ease-in-out;
  -webkit-transition: transform 0.6s ease-in-out;
  transform: translateY(-100%); }
  .menu_responsive li {
    list-style-type: none;
    margin-top: 22px;
    padding: 10px 0; }
    .menu_responsive li a {
      color: white;
      padding: 25px 100vw 25px 60px;
      transition: 0.3s ease-in-out; }
      .menu_responsive li a:hover {
        background-color: #aaaaaa;
        color: black; }

.isopen {
  transform: translateY(10%);
  -webkit-transform: translateY(10%); }

/*----------------------------------------------*/

/* hero 1 */

/*------------------------------------------------ */
.hero {
  background-image: url(../image/accueil-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: white; }
  .hero .filtre_hero {
    background-color: rgba(0, 0, 0, 0.38);
    height: 100vh; }
  .hero .bienvenue {
    text-align: center;
    position: relative;
    top: 30vh;
    width: 60%;
    margin: 0 auto; }
    .hero .bienvenue h1 {
      margin-bottom: 50px; }
    .hero .bienvenue h2 {
      margin-bottom: 50px; }
    .hero .bienvenue p {
      margin-bottom: 50px; }
    .hero .bienvenue a {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: #ff931e;
      font-size: 24px;
      font-weight: 300;
      padding: 0.5em;
      width: auto;
      background: #ff931e;
      border: 1px solid #ff931e;
      color: #FFF;
      overflow: hidden;
      transition: all 0.5s; }
      .hero .bienvenue a:hover, .hero .bienvenue a:active {
        text-decoration: none;
        color: #ff931e;
        border-color: #ff931e;
        background: #FFF;
        cursor: pointer; }

/*----------------------------------------------*/

/* présentation */

/*------------------------------------------------ */

.presentation_bloc {
  background-color: white; }

.photo img {
  margin-bottom: 35px;
}

.presentation h3 {
  margin-bottom: 30px;
}

/*----------------------------------------------*/

/* Compétences */

/*------------------------------------------------ */

.competence {
  text-align: center;
  color: white;
  background-color: #222328; }
  .competence .button {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #ff931e;
    font-size: 24px;
    font-weight: 300;
    padding: 0.5em;
    width: auto;
    background: #ff931e;
    border: 1px solid #ff931e;
    color: #FFF;
    overflow: hidden;
    transition: all 0.5s; }
    .competence .button:hover, .competence .button:active {
      text-decoration: none;
      color: #ff931e;
      border-color: #ff931e;
      background: #FFF;
      cursor: pointer; }

.wrapper {
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em; }
  .wrapper .competence_bloc {
    max-width: 400px;
    height: 330px;
    background-color: #222328;
    border: 1px solid rgba(238, 238, 238, 0.65);
    text-align: center;
    padding: 35px 25px 20px;
    margin: 20px;
    border-radius: 2px;
    box-shadow: 5px 5px 10px 5px rgba(255, 255, 255, 0.2);
    transition: ease 0.5s; }
    .wrapper .competence_bloc a {
      color: white; }
    .wrapper .competence_bloc:hover {
      background-color: white;
      color: black; }
      .wrapper .competence_bloc:hover a {
        color: black; }
  .wrapper p {
    text-align: center; }

/*----------------------------------------------*/

/* héro 2 */

/*------------------------------------------------ */

.hero2 {
  background-image: url(../image/accueil-background2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40vh;
  color: white; }

.filtre_hero2 {
  background-color: rgba(0, 0, 0, 0.38);
  height: 40vh; }

/*----------------------------------------------*/

/* Réalisation */

/*------------------------------------------------ */

.realisation {
  background-color: #f8f8f8;
  padding: 5em; }
  .realisation img {
    margin: 1em;
    max-width: 420px;
    height: 420px;
  }

/*----------------------------------------------*/

/* hero 3 */

/*------------------------------------------------ */

.hero3 {
  background-image: url(../image/accueil-background3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40vh;
  color: white; }

/*----------------------------------------------*/

/* Contact */

/*------------------------------------------------ */

.formulaire_contact {
  background-color: #222328;
  color: white; }
  .formulaire_contact form {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .formulaire_contact form input {
      background: #ffffff;
      border: 1px solid rgba(238, 238, 238, 0.65);
      min-height: 40px;
      width: 49.5%; }
    .formulaire_contact form input[type="submit"] {
      text-transform: uppercase;
      letter-spacing: 2px;
      text-align: center;
      color: #ff931e;
      font-size: 24px;
      font-weight: 300;
      padding: 0.5em;
      width: auto;
      background: #ff931e;
      border: 1px solid #ff931e;
      color: #FFF;
      overflow: hidden;
      transition: all 0.5s; }
      .formulaire_contact form input[type="submit"]:hover, .formulaire_contact form input[type="submit"]:active {
        text-decoration: none;
        color: #ff931e;
        border-color: #ff931e;
        background: #FFF;
        cursor: pointer; }
    .formulaire_contact form textarea {
      width: 100%; }

.wrapper_contact {
  padding-top: 1em;
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  .wrapper_contact a {
    color: black;
    transition: ease 0.2s; }
  .wrapper_contact a:hover {
    color: #ff931e; }
  .wrapper_contact .contact_adress {
    text-align: center;
    width: 30%; }
    .wrapper_contact .contact_adress i {
      color: black; }

.social_network {
  margin-top: 100px;
  text-align: center; }
  .social_network p i {
    color: black; }
    .social_network p i:first-child:hover {
      color: #4099ff; }
  .social_network p #linkedin:hover {
    color: #4875B4; }
  .social_network p a {
    margin-right: 15px; }

footer {
  background-color: #2b2b2b; }
  footer p, footer a {
    color: white;
    margin: 0;
    padding: 1em 0;
    text-align: center; }

/*----------------------------------------------*/

                 /*Responsive */

/*------------------------------------------------ */
.responsive_burger {
  display: none;
 }

@media (max-width: 1200px) {

  section {
    padding: 1em
  }

  p {
    font-size: 14px;
  }

  .responsive_burger {
    display: block;
    margin-right: 1em;
  }

  .menu_responsive {
    display: block;
  }

  .main_menu {
    display: none;
  }

  .nom {
    padding-left: 0.5em;
  }

  .nom p {
    font-size: 16px;
  }

  /*----------------------------------------------*/
  /*Responsive - Bienvenue */
  /*------------------------------------------------ */

  .hero .bienvenue {
    position: inherit;
    top: 0;
    font-size: 14px;
    margin-bottom: 5em;
  }
  .bienvenue h1 {
    padding-top: 2.5em;
  }

  .photo img {
    width: 200px;
    height: 200px;
  }

  /*----------------------------------------------*/
  /*Responsive - Héro */
  /*------------------------------------------------ */
   .hero {
    background-size: cover;
    background-attachment: inherit;
    padding-bottom: 4em;
  }

  .hero .filtre_hero {
    height: 120%;
  }


  /*----------------------------------------------*/
  /*Responsive - Réalisation */
  /*------------------------------------------------ */

  .intro_realisation h3 {
    padding-top: 1.5em;
  }

  .realisation img {
    width:320px;
    height:320px;
  }

  /*----------------------------------------------*/
  /*Responsive - Compétence */
  /*------------------------------------------------ */
  .wrapper .competence_bloc {
    height: auto;
  }

  .competence {
    padding-bottom: 4em;
  }

  /*----------------------------------------------*/
  /*Responsive - héro2 */
  /*------------------------------------------------ */

  .hero2 {
    background-size: cover;
    background-attachment: inherit;
 }

  .filtre_hero2 {
    height: auto;
  }
  /*----------------------------------------------*/
  /*Responsive - Réalisation */
  /*------------------------------------------------ */
  .realisation {
    padding: 0;
  }

  .wrapper {
    display: flex;
    ;
  }
  /*----------------------------------------------*/
  /*Responsive - héro3 */
  /*------------------------------------------------ */
  .hero3 {
    background-size: cover;
    background-attachment: inherit;
  }

  .filtre_hero3 {
height: auto;
  }


  /*----------------------------------------------*/
  /*Responsive - Contact */
  /*------------------------------------------------ */

  .formulaire_contact form input {
    width: 100%;
    margin-bottom: 1em;
  }

  .wrapper_contact {
    display: block;
    margin-bottom: 0;
    }

  .wrapper_contact .contact_adress {
     width: auto;
    margin-top: 2.5em;
  }

  .formulaire_contact form textarea {
    width: 103%; }

}




/*# sourceMappingURL=style.css.map */
