@mixin border-radius($radius) {
  -webkit-border-radius : $radius;
  -moz-border-radius : $radius;
  -o-border-radius : $radius;
  border-radius : $radius;
}

@mixin button () {

  text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #ff931e;

    font-size: 24px;
    font-weight: 300;

    padding: 0.5em;
    width: auto;

    background: #ff931e;
    border: 1px solid #ff931e;
    color: #FFF;
    overflow: hidden;

    transition: all 0.5s;
}

@mixin button-hover () {
  text-decoration: none;
 color: #ff931e;
 border-color: #ff931e;
 background: #FFF;
 cursor: pointer;
 }


/*Responsive*/

